<div class="row">
    <div class="col-lg-12">
        <h1>Home Html Test Page</h1>
        <button class="btn-success" ng-click="getSampleData()">get data</button>
        <button class="btn-danger" ng-click="hideTable()">Table go away</button>
    </div>
    <!--<div class="col-lg-12" ng-repeat="item in tempSample">-->
        <!--<p>{{item.firstName}}</p> <p>*</p> <p>{{item.lastName}}</p> <br/>-->
    <!--</div>-->
    <div class="col-lg-12" ng-show="tableFlag">
        <table class="table table-bordered">
            <tr>
                <th>Date</th>
                <th>high</th>
                <th>low</th>
                <th>open</th>
                <th>close</th>
                <th>volume</th>
            </tr>
            <tr ng-repeat="item in tempSample.dailyStocks">
                <td>{{item.date}}</td>
                <td>{{item.high}}</td>
                <td>{{item.low}}</td>
                <td>{{item.open}}</td>
                <td>{{item.close}}</td>
                <td>{{item.volume}}</td>
            </tr>
        </table>
    </div>
    <p ng-show="tableFlag">{{tempSample}}</p>
</div>